@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/**********/
/* Global */
/**********/

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: rgb(253, 187, 45);
  background: linear-gradient(
    0deg,
    rgba(253, 187, 45, 1) 0%,
    rgba(34, 193, 195, 1) 100%
  );
  height: 100%;
}

main {
  max-width: 960px;
  margin: 0 auto;
}

/**********/
/* HEADER */
/**********/

header {
  background: rgba(34, 193, 195, 1);
  text-align: center;
  padding: 2em;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -200px;
  width: 100%;
  z-index: 10;
  transition: 0.3s;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.burger-menu {
  position: fixed;
  top: 7%;
  z-index: 100;
  left: 5%;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: none;
}

.burger-menu:hover {
  color: #f76c6c;
}

.hide {
  display: none !important;
  background: none !important;
  box-shadow: none !important;
}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

/********/
/* MAIN */
/********/

h1,
h2 {
  text-align: center;
  color: #f76c6c;
}

.lottie-svg {
  margin-top: 9%;
  display: flex;
  justify-content: center;
}

.intro {
  margin: 3em 0;
}

.intro p {
  text-align: justify;
  line-height: 1.5em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

#name {
  border: none;
  border-radius: 15px;
  padding: 10px;
}

.new-member-form button {
  border: none;
  border-radius: 15px;
  padding: 10px;
  background-color: #f76c6c;
  cursor: pointer;
  font-weight: bold;
}

.new-member-form button:hover {
  background-color: rgb(253, 187, 45);
}

input:focus {
  outline: none;
}

.error-msg {
  background-color: #f76c6c;
  font-weight: bold;
  text-align: center;
  padding: 6px;
  border-radius: 15px;
}

.success-msg {
  background-color: seagreen;
  font-weight: bold;
  text-align: center;
  padding: 6px;
  border-radius: 15px;
}

.member-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

ul {
  list-style-type: none;
}

.member-item {
  padding: 0.25em 0;
}

/**********/
/* FOOTER */
/**********/

footer {
  margin-top: 5em;
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
  width: 100%;
  /* position: absolute;
  bottom: 0; */
}

/* Back to top */

#back-to-top {
  display: inline-block;
  background-color: #f76c6c;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: none;
  z-index: 1000;
}

#back-to-top::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#back-to-top:hover {
  cursor: pointer;
  background-color: rgb(253, 187, 45);
}
#back-to-top:active {
  background-color: rgb(192, 134, 10);
}

#back-to-top.show {
  opacity: 1;
  visibility: visible;
}

.show {
  opacity: 1;
  visibility: visible;
}

/* Tablette */

@media screen and (max-width: 1024px) {
  .intro p {
    width: 75%;
    margin: 0 auto;
  }
}

/* Mobile */

@media screen and (max-width: 500px) {
  nav {
    margin-right: 14%;
  }

  nav h1 {
    display: flex;
    flex-direction: column;
  }

  nav h1 img {
    margin: 0 auto;
  }

  header h1 {
    font-size: 2em;
  }

  .burger-menu {
    top: 3%;
  }

  #back-to-top {
    bottom: 60px;
  }
}
